.gridFotos{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
        .img1, .img3{
            display: none;
        }
        }
    img{
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    button{
        background-color: transparent;
        padding: 10px 30px;
        border: 1px solid #D27F67;
        border-radius: 10px;
        color: #D27F67;
        font-size: 24px;
        cursor: pointer;
        font-family: Lato-Light;
        z-index: 99;
        &:hover{
            color: #fff;
            background: #E3957E;
        }
        &:focus{
            color: #fff;
            background: #D27F67;
        }
    }
}
.verMas{
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 90;
    position: relative;
    margin-top: 87px;
    padding-bottom: 30px;
    p{
        display: none;
    }
    @media screen and (max-width:768px) {
        margin-top: 0;
        p{
            display: flex;
            padding-left: 30px;
            padding-top: 80px;
            font-family: Lato-Light;
            font-size: 24px;
        }
    }
    .gridVerMas{
        display: grid;
        height: auto;
    }
    @media screen and (max-width:768px) {    
        .grid2, .grid3, .grid4, .grid5, .grid6 {    
            grid-template-columns: 1fr !important;
            img{
                width: 90% !important;
                margin: 0 auto !important;
                margin-bottom: 10px !important;
            }
        }
        .grid3{
            grid-template-rows: 430px !important;
            img{
                margin-top: -27% !important;
            }
        }
    }
    .grid1{
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width:768px) {
            padding-top: 87px;
            grid-template-columns: 1fr;
            img{
                width: 90% !important;
                margin: 0 auto !important;
                margin-bottom: 10px !important;
            }
        }
        img{
            width: 65%;
        }
        .yoda{
            margin-top: 120px !important;
            margin: 0 auto;
        }
        .corona{
            margin-top: 40px;
            display: flex;
            justify-self: right;
        }
    }
    .grid2{
        grid-template-columns: 1fr 1fr;
        img{
            width: 40%;
        }
        .parlante{
            margin: 0 auto;
        }
    }
    .grid3{
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        overflow-y: hidden;
        img{
            width: 20%;
            margin-left: 18%;
            margin-top: -5%;
        }
    }
    .grid4{
        grid-template-columns: 1fr 1fr;
        img{
            width: 40%;
        }
        .anillo{
            display: flex;
            justify-self: right;
            margin-top: -18%;
        }
    }
    .grid5{
        grid-template-columns: 1fr 1fr;
        img{
            width: 40%;
        }
        .juegoDeTe{
            width: 50%;
            margin-top: -18%;
            margin-left: 10%;
        }
    }
    .grid6{
        grid-template-columns: 1fr 1fr;
        img{
            width: 40%;
        }
        .luna{
            display: flex;
            justify-self: right;
            margin-top: 12%;
        }
        .perfume{
            margin: 0 auto;
        }
    }
}