.container{
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: #000;
    img{
        position: relative;
        width: 100%;
        opacity: 0.8;
    }
}