.containerTitulo{
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 87px;
    display: flex;
    align-items: center;
    z-index: 1;
    @media screen and (max-width:768px){
        padding-top: 0 !important;
    }
    .gridTitulo{
        width: 100%;
        h1{
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 34px;
        }
        h3{
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 18px;
        }
    }
}
.containerBackground{
    width: 100%;
    margin: 0 auto;
    padding-top: 88px;
    position: fixed;
    top: 0;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #000;
    img{
        width: 100%;
        opacity: 0.8;
    }
    .img4, .img5, .img6{
        display: none;
    }
}

@media (max-width: 768px) {
    .containerBackground{
        padding-top: 0px;
        background-color: #000;
        height: 800px;
    }
    .grid{
        display: flex;
        width: 100%;
        img{
            position: absolute;
            opacity: 0.8;
        }
        .img1, .img2, .img3{
            display: none;
        }
        .img4{
            display: flex;
            width: 100vw;     
            animation-duration: 25s;
            animation-name: imagen1;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .img5{
            display: flex;
            width: 100vw;
            animation-duration: 25s;
            animation-name: imagen2;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .img6{
            display: flex;
            width: 100vw;
            animation-duration: 25s;
            animation-name: imagen3;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        @keyframes imagen1 {
            0% {
                opacity: 0.8;
            }
            27% {
                opacity: 0.8;
            }
            33%{
                opacity: 0;
            }
            60%{
                opacity: 0;
            }
            66% {
                opacity: 0;
            }
            94%{
                opacity: 0;
            }
            100%{
                opacity: 0.8;
            }
        }
        @keyframes imagen2 {
            0% {
                opacity: 0;
            }
            27% {
                opacity: 0;
            }
            33% {
                opacity: 0.8;
            }
            60% {
                opacity: 0.8;
            }
            66% {
                opacity: 0;
            }
            94% {
                opacity: 0;
            }
            100%{
                opacity: 0;
            }
        }
        @keyframes imagen3 {
            0% {
                opacity: 0;
            }
            27% {
                opacity: 0;
            }
            33%{
                opacity: 0;
            }
            60% {
                opacity: 0;
            }
            66% {
                opacity: 0.8;
            }
            94% {
                opacity: 0.8;
            }
            100%{
                opacity: 0;
            }
        }
    }
    .footer {
        background-color: white;
        position: absolute;
        bottom: -400px;
        width: 100vw;  
        padding: 30px;
    }
}
