.contacto{
    padding-bottom: 0 !important;
    .imgContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        background-color: #FFCBBA;
        @media screen and (max-width:768px) {
            margin-top: 80px !important;
        }
        img{
            width: 35%;
            @media screen and (max-width:768px){
                width: 70%;
            }
        }
    }
    .derechos{
        p{
            font-family: Lato-Light;
        }
    }
}