.contacto {
    padding-bottom: 0 !important;

    .imgContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        background-color: #FFCBBA;
        

        @media screen and (max-width:768px) {
            margin-top: 80px !important;
        }

        img {
            width: 25%;

            @media screen and (max-width:768px) {
                width: 70%;
            }
        }
    }

  

    .presentacionContacto {
        font-size: 18px;
        width: 90%;

    }
    .redesContainer {
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
       @media screen and (max-width:768px) {
           flex-direction: column;
           p {
               text-align: left;
           }
       }

        &__box {
            display: flex;
            flex-direction: column;
            width: 33%;
            svg, p {
                align-self: center;
                padding: 0;
                @media screen and (max-width:768px) {
                    align-self: initial;
                }
            }
            p {
                padding-top: 10px;
                @media screen and (max-width:768px) {
                    padding-left: 29px;
                    padding-bottom: 10px;
                    width: 100vw;
                }
            }
        }
    }
}