a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  
    &:hover {
      color: rgb(116, 115, 115);
    }
  
    &:focus {
      color: grey;
      color: rgb(110, 110, 110);
    }
  
    &:focus {
      color: rgb(150, 150, 150);
    }
}
.item{
    z-index: 50;
    font-size: 24px;
    font-weight: bold;
    &:focus {
      color: #000;
    }
    &:focus {
      color: #000;
    }
}
