.footer {
    position: relative;
    background-color: #FCFBFA;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 0px 0px 15px 15px;
    height: 65px !important;
    padding-bottom: 5px;
    p{
        font-size: 14px;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-left: 15px !important;
        background: transparent;

    }
    a {
        font-size: 14px;
    }
    @media screen and (max-width:768px) {
        margin-top: 0 !important;
        border-radius: none !important;
        height: 75px !important;
    }
    .links span {
        cursor: pointer;
        &:hover {
            color: #D27F67;
        }
    }
}
