@font-face {
  font-family: Lato;
  src: url(./assets/fuentes/Lato/Lato-Regular.ttf); 
}

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato;
}
