* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fuentes/Lato/Lato-Regular.ttf); 
}

@font-face {
  font-family: Lato-Light;
  src: url(./assets/fuentes/Lato/Lato-Light.ttf); 
}

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Lato;
}
li {
  list-style: none;
}

.container{
  width: 64%;
  height: auto;
  margin: 0 auto;
  background-color:#fff;
  border-radius: 15px;
  position: relative;
  margin-top: 150px;
  box-shadow: 2px 2px 5px rgb(124, 124, 124);
  padding-bottom: 30px;
  margin-bottom: 10px;
  z-index: 2;
  @media screen and (max-width:768px) {
    width: 100%;
    border-radius: none;
    margin-bottom: 0;
    }
  h1, h2, p {
      padding: 10px 70px;
      text-align: justify;
      @media screen and (max-width:768px) {
    
      padding-right: 40px;
      }
  }
  p{
    font-family: Lato-Light;
  }
  h1{
      padding-top: 60px;
      padding-bottom: 30px;
      z-index: 1;
      position: relative;
  }
  .subrayado{
      width: 230px;
      height: 18px;
      background-color: #EFE9E1;
      margin-top: -45px;
      z-index: 0;
      position: absolute;
  } 
  @media screen and (max-width:768px) {
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    padding-left: 0;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
}