.icon {
    color: #D27F67;
    font-size: 25px;
    width: 80px;

}

.listContainer {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;

    tbody {
        width: 88%;
    }

    td p {
        padding-left: 0px;
    }

    @media screen and (max-width:768px) {
        margin-left: 0;
    }
}


.trabajamosPresentacion {
    width: 100%;

    .presentacionParrafo {
        font-size: 22px;
    }
}

.containerPresentacion {
    padding-left: 70px;

    @media screen and (max-width:768px) {
        padding-left: 0px;
    }
}

td p {
    padding-left: 0px;
}

