.trabajamosContainer {
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 200px;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    ul li {
        list-style: none;
    }
}
.background {
    position: absolute;
}